//typography
$font-size-normal: 1.5rem;
$font-size-small: 1.2rem;
$font-size-large: 2.5rem;
$font-size-xl: 3.4rem;

//colors
$color-primary: #051923;
$color-secondary: #00a6fb;
$color-grey: #979dac;
$color-white: #ffffff;
$color-black: #000000;
$color-light-grey: #8d99ae;
$color-creamy: #fbebda;
$color-red: #d00000;
